.footer-tech{padding-top:var(--gap-medium);padding-bottom:var(--gap-medium);margin-top:var(--gap-big);
    text-align:center;border-top:2px solid var(--color-gueio-first);
    font-size:var(--size-small)}
    a{text-decoration: blue;}
    