.header-tech{text-align:left;margin:0 ;}
.header-tech>.title-tech{margin-bottom:var(--gap-medium);margin-top:0 ;margin-left:var(--gap-medium);margin-right:var(--gap-medium);}
.header-tech>.content-tech{margin-bottom:0;margin-top:0 ;margin-left:var(--gap-medium);margin-right:var(--gap-medium);}
